/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.gallery p{
    color: white;
}

.gallery h3{
    color: rgb(4, 138, 82);
}

 */


 .gallery img{
    height: 65%;
   
}

.gallery h3{
    
    word-wrap:break-word;
    color: white;
}


.botoes{
    background-color: rgb(26, 24, 24);
    color: white;
    padding: 5px;
    
    border-radius: 5px;
}