
.cartaoContatos{
    display: flex;
    justify-content: space-around;
    gap: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 2px;
}

.informacoes h2{
    color: rgb(56, 54, 54);
    box-sizing: border-box;
}

.cartaoContatos img{
    clip-path: circle();
    width: 20%;
}
